.messageBox {
    background: #f3f3f3;
}

.customMsg{
    background: blueviolet;
    margin-right: 283px;
    margin-left: 20px;
    border-radius: 14px;
}

.responsive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.responsiveRecived{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.admMsg{
    color: aliceblue;
    background-color: blueviolet;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 4px;   
    font-family: cursive;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 29px;
}

.admMsgu{
    background-color: blueviolet;
    color: antiquewhite;
    font-family: cursive;
    font-size: 20px;
    display: flex;
    border-radius: 6px;
    flex-wrap: wrap;
}

.userMsg{
    color: chartreuse;
    font-size: 13px;
    margin-right: auto;
    margin-left: 580px;
    margin-top: -32px;
}

.pH{
    color: chartreuse;
    font-size: 12px;
    margin-right: 9px;
    margin-left: auto;
}

@media (min-width: 1367px) and (max-width: 1920px){
    .userMsg {
        color: chartreuse;
        font-size: 13px;
        margin-right: auto;
        margin-left: 891px;
        margin-top: -32px;
    }
}